h1 {
    font-family: Arial, Helvetica, sans-serif;
    background: url(pattern.webp);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cost {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

.brush {
    background-color: mediumspringgreen;
}

.frame {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}
